target
.venv
.objs
*.a
a.out
tools/launcher/run
tools/launcher/.cache
tools/launcher/compile_commands.json
.DS_Store
test/**/hello_world
test/**/*.o
test/**/*.a
test/**/*.dylib
test/run
test/outfiles
